<div class="container-fluid pt-5 justify-content-center" [ngStyle]="{'background-image': 'url(https://picsum.photos/900/500?random)'}">
  <div class="d-flex align-items-center">
    <div class="row justify-content-center align-items-center w-100">
      <div class="col-lg-8 col-xl-8 col-md-8 col-sm-8 col-xs-10 text-center text-md-left mb-5">
        <div class="white-text">
          <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s" style="text-shadow: 0 0 13px black;">Assets</h2>
          <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
          <h4 class="wow fadeInLeft" data-wow-delay="0.3s">Asset tracking refers
            to the method of tracking physical assets, either by scanning
            barcode labels attached to
            the assets or by using tags using GPS, BLE or RFID which broadcast
            their location. These technologies can also
            be used for indoor tracking of persons wearing a tag.</h4>
          <br>
          <a class="btn btn-outline-info" href="https://en.wikipedia.org/wiki/Asset_tracking">Learn More</a>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-xs-10">
        <!--Form-->
        <div class="card wow fadeInRight" data-wow-delay="0.3s">
          <div class="card-body">
            <h2 class="h2 h2-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Welcome </h2>
            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
            <!--Body-->

            <mat-form-field class="full-width">
              <span matPrefix>Username&nbsp;</span>
              <input matInput type="text">
            </mat-form-field>
            <mat-form-field class="full-width">
              <span matPrefix>Password&nbsp;</span>
              <input matInput type="password">
            </mat-form-field>

            <div class="text-center">
              <hr class="hr-light mb-3 mt-4">
              <button class="btn btn-primary waves-light" mdbWavesEffect>Sign In</button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>
